html {
  font-size: 100%;
}

/*16px*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

.title,
.content h1 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 800;
  line-height: 1;
}

.subtitle,
.content h2,
.content h3,
.content h4,
.content h5 {
  text-transform: lowercase;
  margin: 2.75rem 0 1.05rem;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
  line-height: 1.15;
}

.subtitle {
  margin-top: 0;
}

.is-1 {
  margin-top: 0;
  font-size: 7.594em;
}

.is-2,
.content h1 {
  font-size: 5.063em;
}

.is-3,
.content h2 {
  font-size: 3.375em;
}

.is-4,
.content h3 {
  font-size: 2.25em;
}

.is-5,
.content h4 {
  font-size: 1.5em;
}

small,
.is-7 {
  font-size: 0.667em;
}
