$darker: #051606;
$dark: #345727;
$primary: #78629C;
$accent: #ECB83E;
$danger: #EE3D1D;
$success: #4B8E5A;
$light: #FFEFCE;

$md-bp: 768px;
$lg-bp: 1024px;
$xl-bp: 1440px;

$black: $darker;
$light-background: $light;
